VITE_API_BASE_URL=http://api-xflight.kumalabs.tech
VITE_WS_BASE_URL=ws://api-xflight.kumalabs.tech
VITE_PORTAL_URL=https://sso.connectmesh.io
VITE_SSO_LOGOUT_REDIRECT_URL=https://sso.connectmesh.io/auth/login?client_id=CLIENT_ID
VITE_SSO_LOGOUT_URL=https://sso-oauth.connectmesh.io/v1/auth/logout
VITE_MISSION_NOW_OFFSET_MINUTES=2
VITE_DRONE_STREAM_URL=
VITE_DOCK_CCTV_STREAM_URL=
VITE_STREAM_AUTH_USER=
VITE_STREAM_AUTH_PASS=
VITE_GEOFENCE_JSON_ENABLED=true
